<div class="flex flex-col justify-center items-center gap-6 my-2 bg-cyan-950 px-52 py-10 rounded-2xl w-fit mx-auto">

  <h3 class="text-5xl flex items-center gap-5">

    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24">
      <g fill="none" stroke="#ff51e0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path
        d="M12 2a6 6 0 0 0-6 6c0 1.419.302 2.348 1.125 3.375L12 17l4.875-5.625C17.698 10.348 18 9.419 18 8a6 6 0 0 0-6-6" />
        <path d="M5 15.143C3.149 15.87 2 16.881 2 18c0 2.21 4.477 4 10 4s10-1.79 10-4c0-1.119-1.149-2.13-3-2.857" />
        <circle cx="12" cy="8" r="1" />
      </g>
    </svg>


    {{ continents().join(', ') }}

  </h3>

  <div class="flex gap-2 items-center justify-center ">
    <shared-america-svg [isActive]="continents().includes('South America') || continents().includes('North America')" />
    <shared-europa-svg [isActive]="continents().includes('Europe')" />
    <shared-africa-svg [isActive]="continents().includes('Africa')" />
    <shared-asia-svg [isActive]="continents().includes('Asia')" />
    <shared-oceania-svg [isActive]="continents().includes('Oceania')" />
    <shared-antartica-svg [isActive]="continents().includes('Antarctica')" />
  </div>


</div>
